<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>kMindConnect</title>
    <link rel="stylesheet" type="text/css" href="./css/iview.css">
    <!--
        <script src="./js/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.0/markdown-it.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js"></script>
    <script src="./js/markdown-it-katex.js"></script>

    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
    <script src="./js/vue.js"></script>
    
    <script src="./js/vue-custom-element.js"></script>
    <script src="./js/iview.js"></script>
    <!--
        <script src="https://unpkg.com/iview@2.9.0/dist/iview.min.js"></script>
    -->
    <script src="./js/iview-locale/en-US.js"></script>
    
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <link rel="stylesheet" type="text/css" href="./css/cupertino-theme.css">
    <link rel="stylesheet" type="text/css" href="./css/markdown.css">
    <script src="./js/boot.js"></script>
    
    <link rel="import" href="./components/main_layout.vue">
    <link rel="import" href="./components/markdown_element.vue">
    <link rel="import" href="./components/file_input.vue">

    <link rel="import" href="./components/left_sidebar.vue">
    <link rel="import" href="./components/main_svar_single_settings.vue">
    <link rel="import" href="./components/main_svar_single_results.vue">
    <link rel="import" href="./components/main_svar_batch_settings.vue">
    <link rel="import" href="./components/main_svar_batch_results.vue">
    <link rel="import" href="./components/main_svar_settings.vue">
    <link rel="import" href="./components/main_svar_results.vue">

    <link rel="import" href="./components/main_svar_data_doc.vue">
    <link rel="import" href="./components/main_svar_model_doc.vue">

    <link rel="import" href="./components/main_svar_execution.vue">

    <link rel="import" href="./components/main_global_settings.vue">
    <link rel="import" href="./components/main_about.vue">
    
    <link rel="import" href="./components/viframes.vue">


    <script src="https://unpkg.com/chart.js@2.7.1/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartkick@2.3.3"></script>
    <script src="https://unpkg.com/vue-chartkick@0.2.1/dist/vue-chartkick.js"></script>

</head>

<body>
    <div id="app">
        <!--
        <i-button @click="show">
        Click hgggme!</i-button>
        <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
        -->
        <app-layout>
            <app-left-sidebar slot="left-side-bar"></app-left-sidebar>
<!--
<router-link to="/svar/documentation">Documentation</router-link>
<router-link to="/svar/single/settings">Sett</router-link>
<router-link to="/foo">Go to Foo</router-link>
<router-link to="/bar">Go to Bar</router-link>
<i-button @click="show">
    Click me!</i-button>
<Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
-->
                <router-view ref="routerView"></router-view>
            <!--

            sss
            <i-button @click="show">Click me!</i-button>
            <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
            s
            <markdown-element>
                # Documentation
                ## Blah!
                ### Blah!


                Esse é outro Documentation!
                $x^2$


                ![https://image.slidesharecdn.com/vuejspresentation-170120140736/95/vuejs-for-angular-developers-26-638.jpg?cb=1484921395](https://image.slidesharecdn.com/vuejspresentation-170120140736/95/vuejs-for-angular-developers-26-638.jpg?cb=1484921395)
            </markdown-element>
            -->
        </app-layout>

    </div>

    <template id="svar-single-log" name="svar-single-log">
        <div>
            <app-svar-execution ref="svarSingleLog"></app-svar-execution>
        </div>
    </template>

    <template id="svar-batch-log" name="svar-batch-log">
        <div>
            <app-svar-execution ref="svarBatchLog"></app-svar-execution>
        </div>
    </template>

    <script>
        var appArguments = {
            dirname: '',
        }
        try {
            appArguments = JSON.parse(decodeURI(window.location.search.substring(1)))
            appArguments.dirname += "/"
        } catch (error) {}
        Object.defineProperty(appArguments, "pureDirName", {
                get: () => {
                // returns a dirname cleaned for macosx purposes
                if(appArguments.dirname.indexOf('Resources/app.asar') > 0)
                    return appArguments.dirname.replace('Resources/app.asar/', '')
                return appArguments.dirname == ""? ".": appArguments.dirname
            }
        })
        
        function callAJAX(url, methodType) {
            methodType = methodType || "GET";
            var promiseObj = new Promise(function (resolve, reject) {
                var xhr = new XMLHttpRequest();
                xhr.open(methodType, url, true);
                xhr.send();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            //console.log("xhr done successfully");
                            var resp = xhr.responseText;
                            var respJson = JSON.parse(resp);
                            resolve(respJson);
                        } else {
                            reject(xhr.status);
                            //console.log("xhr failed");
                        }
                    } else {
                        //console.log("xhr processing going on");
                    }
                }
                //console.log("request sent succesfully");
            });
            return promiseObj;
        }

        
        function deleteFolderRecursive(path) {
            const electron = require("electron").remote
            var fs = electron.require('fs');
            if (fs.existsSync(path)) {
                fs.readdirSync(path).forEach(function (file, index) {
                    var curPath = path + "/" + file;
                    if (fs.lstatSync(curPath).isDirectory()) { // recurse
                        deleteFolderRecursive(curPath);
                    } else { // delete file
                        fs.unlinkSync(curPath);
                    }
                });
                fs.rmdirSync(path);
            }
        };

        function executeCommand(commandName, args, event){
            let runBrowser = event.runBrowser || (() => { });
            let runStandalone = event.runStandalone || (() => { });
            let finish = event.finish || (() => { });
            let error = event.error || (() => { });
            //let stdin = event.stdin || (() => { });
            let stdout = event.stdout || (() => { });
            let stderr = event.stderr || (() => { });
            try {
                const electron = require("electron").remote
                try {
                    const process = electron.require('child_process');
                    console.log(electron.getGlobal('process').env.PATH)
                    var ls = process.spawn(commandName, args, {
                    }).on('close', function (code) {
                        finish(code)
                    }).on('error', function (err) {
                        err(err)
                    }).on('uncaughtException', function (err) {
                        err(err)
                    });
                    ls.stdout.on('data', function (data) {
                        stdout(data)
                    });
                    ls.stderr.on('data', function (data) {
                        stderr(data)
                    });
                } catch (err) {
                    error(err);
                }
            } catch (e) {
                runBrowser()
                finish(-1)
            }
        }
        
        class ApplicationEnvironment{
            constructor(){
                this.settings = null;
                this.basepath = null;
                this.getApplicationPath()
                this.loadConfiguration();
            }
            getDefaultConfig(){
                return {
                    pythonPath: "python",
                    matlabPath: "matlab",
                }
            }
            getApplicationPath(){
                try {
                    const remote = require('remote');
                    const app = remote.require('app');
                    this.basepath = app.getAppPath();
                } catch (error) {
                    this.basepath = "./"
                }
            }
            loadConfiguration(){
                const self = this;
                if(!this.settings){
                    callAJAX("./configuration.json").then((data) => {
                        console.log("111")
                        self.settings = data
                    }, () => {
                        console.log("1113")
                        self.settings = self.getDefaultConfig()
                    })
                }
            }
            get pythonPath(){ return this.settings.pythonPath; }
        }
        
        const SingleLog = {name: 'batch-log', template: '#svar-single-log', ref: 'svarBatchLog'}
        const BatchLog = {name: 'single-log', template: '#svar-batch-log', ref: 'svarSingleLog'}
        const router = new VueRouter({
            routes: [
                { path: '/svar/data/documentation', component: ApplicationSVARDataDocumentation},
                { path: '/svar/model/documentation', component: ApplicationSVARModelDocumentation },
                { path: '/svar/single/settings', component: ApplicationSVARSingleSettings },
                { path: '/svar/single/results', component: ApplicationSVARSingleResults },
                { path: '/svar/single/log', component: ApplicationSVARExecution , props: { logname: 'svarSingleLog', type: "single" } },
                { path: '/svar/batch/settings', component: ApplicationSVARBatchSettings },
                { path: '/svar/batch/results', component: ApplicationSVARBatchResults },
                { path: '/svar/batch/log', component: ApplicationSVARExecution, props: { logname: 'svarBatchLog', type: "batch" } },
                { path: '/global/settings', component: ApplicationGlobalSettings },
                { path: '/about', component: ApplicationAbout },
            ]
        })

        
        class SVARProcessing{
            constructor(app){
                this.app = app
                this.defaults = {
                    globalSettings: {
                        path_script_python: appArguments.pureDirName +'/model/python/kmindconnect.py',
                        path_script_octave: appArguments.pureDirName + '/model/matlab/algorithm',
                        path_python: 'python',
                        path_octave: 'octave',
                        path_output: appArguments.pureDirName.replace(/\w+.app[\/\\]Contents/, "") + '/output',
                        matlab_engine: true,
                    },
                    simSettings: {
                        tvvar_model_order: 1,
                        tvvar_window_shift: 1,
                        tvvar_window_width: 100,
                        cluster_number: 3,
                        em_iterations: 5,
                        em_tolerance_error: 1e-10,
                        surface_pattern: '',
                        surface_roi_names: '',
                        input_paths: [],
                        input_path: '',
                        matlab_field_name: 'mean_roi',
                        //hashCode: 'NPA6GpUwN8IYIg==',
                        hashCode: 'XGPg1f3TsQLswQ==',
                    },
                }
                this.singleSettings = {}
                this.batchSettings = {}
                this.globalSettings = {}
                this.commandUpdates = {
                    single: {output: [], events: [] },
                    batch: {output: [], events: [] },
                }
                this.resetValues()
                this._sender = null
            }
            _resetField(val, defaults){
                let keys = Object.keys(defaults)
                for (let i = 0; i < keys.length; i++) {
                    val[keys[i]] = defaults[keys[i]]
                }
            }
            resetValues(){
                this.resetSingleValues()
                this.resetBatchValues()
                this.resetGlobalValues()
            }
            resetGlobalValues() {
                this._resetField(this.globalSettings, this.defaults.globalSettings)
            }
            resetSingleValues() {
                this._resetField(this.singleSettings, this.defaults.simSettings)
            }
            resetBatchValues() {
                this._resetField(this.batchSettings, this.defaults.simSettings)
                this.batchSettings.input_paths = []
            }
            toCommandLineArgs(data, additionalArguments) {
                var mapping =  {
                    "tvvar-model-order": "var-order",
                    "tvvar-window-shift": "window-shift",
                    "tvvar-window-width": "window-length",
                    "cluster-number": "number-states",
                    "em-iterations": "em-max-iterations",
                    "em-tolerance-error": "em-tolerance",
                    "surface-pattern": "brain-surface",
                    "surface-roi-names": "labels",
                    "path-script-octave": "matlab-model-path",
                    //"input-paths": "",
                    //"input-path": "",
                    "matlab-field-name": "matlab-field",
                    "path-output": "output-dir",
                    "matlab-engine": "use-octave-engine",
                }
                //var additionalArguments = Array.prototype.slice.call(arguments);
                additionalArguments = additionalArguments || []
                var commandArgs = []
                var addCommands = (data, isMember) => {
                    for (let key_ in data) {
                        var key = key_.replace(/_/g, '-')
                        var paramName = mapping[key]
                        if(!paramName && !key.startsWith("input-path")) continue
                        var value = JSON.stringify(isMember ? this[key_] : data[key_])
                        if (key == "matlab-engine") {
                            if (value) commandArgs.push(`--${paramName}=true`)
                        } else if (!key.startsWith("input-path")) {
                            commandArgs.push(`--${paramName}=${value}`)
                        }
                    }
                }
                addCommands(data)
                for (let i = 0; i < additionalArguments.length; i++) {
                    const element = additionalArguments[i];
                    addCommands(element)
                }
                if(data['input_paths'] && data['input_paths'].length != 0 ){
                    for (let i = 0; i < data['input_paths'].length; i++) {
                        commandArgs.push(data['input_paths'][i])
                    }
                }else if(data['input_path'] && data['input_path'] != "" ){
                    commandArgs.push(data['input_path'])
                }
                return commandArgs//.join(" ")
            }
            grab_events (log, parameters, data) {
                let exectime = performance.now();
                let difftime = Math.round((exectime - this.timestamp.start) * 1e-3, 2);
                this.timestamp.current = exectime
                difftime = "" + difftime + " secs"
                let lines = data.split("\n")
                for (let i = 0; i < lines.length; i++) {
                    const line = lines[i].trim();
                    this._grab_event(log, line, difftime, ":: ERROR:", "error")
                    this._grab_event(log, line, difftime, ":: ACTIVITY:", "activity")
                    this._grab_event(log, line, difftime, ":: STATUS:", "status")
                    this._grab_event(log, line, difftime, ":: START:", "start")
                    this._grab_event(log, line, difftime, ":: FINISH:", "finish")
                    var id = this._grab_event(log, line, difftime, ":: EXPERIMENT-ID:", "experiment id")
                    if(id){
                        parameters.hashCode = id
                    }
                }
            }
            _grab_event (log, data, difftime, label, meaning) {
                //console.log(label, data.startsWith(label))
                let content = data.replace(label, "").trim()
                if (data.startsWith(label)) {
                    log.events.push({ id: log.events.length, shortlabel: meaning.toLowerCase(), type: content, content: `${meaning.toUpperCase()=='ERROR'? 'ERROR ': ''}at ${difftime}.` })
                    return content
                }
            }
            stdout(log, parameters, data) {
                data = data.toString()
                console.log('stdout: <' + data + '> \n');
                log.output.push({id: log.output.length, type: "stdout", content: data})
                this.grab_events(log, parameters, data)
            }
            stderr(log, parameters, data) {
                data = data.toString()
                console.log('stdout: <' + data + '> \n');
                log.output.push({ id: log.output.length, type: "stderr", content: data})
                this.grab_events(log, parameters, data)
            }
            finish(log, parameters, code) {
                log.output.push({ id: log.output.length, type: "stdout", content: "[[FINISHED]]"})
                console.log('finishing: <' + code + '> \n');
                this._sender.$emit('execution-finished', 'OK', { message: `Exit code: ${code}` })
                this.app.$Notice.info({
                    title: 'Execution',
                    desc: `Model estimation finalized!`
                });
            }
            runBrowser(log, parameters, data) {
                console.log('browser: <' + data + '> \n');
                this._sender.$emit('execution-finished', 'FAILED', { message: 'This function is disable on Browser-testing.' })
            }
            runStandalone(log, parameters, data) {
                console.log('app: <' + data + '> \n');
            }
            error(log, parameters, data) {
                log.output.push({ id: log.output.length,  type: "stderr", content: data })
                console.log('error: <' + data + '> \n');
            }
            exe2cute(sender, exectype){
                if (exectype == "single") {
                    this.app.$router.push("/svar/single/log")
                }else if (exectype == "batch") {
                    this.app.$router.push("/svar/batch/log")
                }
                exectype = exectype.toLowerCase()
                this._sender = sender
                let self = this
                let settings = exectype == 'single' ? this.singleSettings : this.batchSettings
                let log = exectype == 'single' ? this.commandUpdates.single: this.commandUpdates.batch;
                log.events = []
                log.output = []
                let parameters = self.toCommandLineArgs(settings, [this.globalSettings])
                //if(exectype != 'single')
                parameters.splice(0, 0, this.globalSettings.path_script_python)
                parameters.splice(0, 0, '-u')
                console.log(parameters)
                //console.log([
                this.timestamp = { start: performance.now(), current: performance.now() }
                executeCommand(
                    this.app.model.globalSettings.path_python,
                    parameters,
                    {
                        stdout: (a,b,c,d) => self.stdout(log, settings, a, b, c, d),
                        stderr: (a, b, c, d) => self.stderr(log, settings, a, b, c, d),
                        finish: (a, b, c, d) => self.finish(log, settings, a, b, c, d),
                        runBrowser: (a, b, c, d) => self.runBrowser(log, settings, a, b, c, d),
                        runStandalone: (a, b, c, d) => self.runStandalone(log, settings, a, b, c, d),
                        error: (a, b, c, d) => self.error(log, settings, a, b, c, d),
                    }
                )
                //])
            }

            execut2e(sender, exectype) {
                if (exectype == "single") {
                    this.app.$router.push("/svar/single/log")
                } else if (exectype == "batch") {
                    this.app.$router.push("/svar/batch/log")
                }
                exectype = exectype.toLowerCase()
                this._sender = sender
                let self = this
                let settings = exectype == 'single' ? this.singleSettings : this.batchSettings
                let log = exectype == 'single' ? this.commandUpdates.single : this.commandUpdates.batch;
                log.events = []
                log.output = []
                let parameters = self.toCommandLineArgs(settings, [this.globalSettings])
                //if(exectype != 'single')
                parameters.splice(0, 0, this.globalSettings.path_script_python)
                parameters.splice(0, 0, '-u')
                console.log(parameters)
                //console.log([
                this.timestamp = { start: performance.now(), current: performance.now() }
                executeCommand(
                    this.app.model.globalSettings.path_python,
                    parameters,
                    {
                        stdout: (a, b, c, d) => self.stdout(log, settings, a, b, c, d),
                        stderr: (a, b, c, d) => self.stderr(log, settings, a, b, c, d),
                        finish: (a, b, c, d) => self.finish(log, settings, a, b, c, d),
                        runBrowser: (a, b, c, d) => self.runBrowser(log, settings, a, b, c, d),
                        runStandalone: (a, b, c, d) => self.runStandalone(log, settings, a, b, c, d),
                        error: (a, b, c, d) => self.error(log, settings, a, b, c, d),
                    }
                )
                //])
            }
            _execute(log, ownSettings, atEnd){
                atEnd = atEnd || (() => {})
                let parameters = this.toCommandLineArgs(ownSettings, [this.globalSettings])
                //if(exectype != 'single')
                parameters.splice(0, 0, this.globalSettings.path_script_python)
                parameters.splice(0, 0, '-u')
                console.log(parameters)
                //console.log([
                this.timestamp = { start: performance.now(), current: performance.now() }
                //return
                executeCommand(
                    this.app.model.globalSettings.path_python,
                    parameters,
                    {
                        stdout: (args) => this.stdout(log, ownSettings, args),
                        stderr: (args) => this.stderr(log, ownSettings, args),
                        finish: (args) => { this.finish(log, ownSettings, args); atEnd()},
                        runBrowser: (args) => this.runBrowser(log, ownSettings, args),
                        runStandalone: (args) => this.runStandalone(log, ownSettings, args),
                        error: (args) => this.error(log, ownSettings, args),
                    }
                )
            }
            execute(sender, exectype) {
                this._sender = sender
                if (exectype == "single") {
                    this.executeInSingle()
                } else {
                    this.executeInBatch()
                }
            }
            executeInSingle() {
                this.app.$router.push("/svar/single/log")
                let self = this
                const settings = this.singleSettings
                let log = this.commandUpdates.single;
                log.events = []
                log.output = []
                this._execute(log, settings)
            }
            executeInBatch() {
                this.app.$router.push("/svar/batch/log")
                let self = this
                const settings = this.batchSettings
                let log = this.commandUpdates.batch;
                log.events = []
                log.output = []
                let loadParam = (index) => {
                    let ownSettings = Object.assign({}, settings);
                    ownSettings["input_path"] = settings["input_paths"][index]["input_path"]
                    ownSettings["matlab_field_name"] = settings["input_paths"][index]["matlab_field_name"]
                    ownSettings["input_paths"] = []
                    this._execute(log, ownSettings, () => {
                        if(index == settings["input_paths"].length - 1)
                            return
                        loadParam(index + 1)
                    })

                }
                loadParam(0)
            }
        }

        var svarstate = new SVARProcessing(null)

        Vue.use(VueRouter)
        var app = new Vue({
            el: '#app',
            data: {
                visible: false,
                model: {
                    svarSingleLog: null,
                    svarBatchLog: null,
                    globalSettings: {
                        path_python: 'python',
                        path_octave: 'octave',
                        path_output: './output',
                        matlab_engine: true,
                    },
                },
            },
            created: function () {
                svarstate.app = this
                this.model = svarstate

                this.$on('update-global-settings', this.updateGlobalSettings);
                this.$on('execution-start', this.simulationStart);
            },
            methods: {
                show: function () {
                    this.visible = true;
                    console.log("aaaa")
                },
                updateGlobalSettings: function(settings) {
                    this.model.globalSettings = settings
                },
                simulationStart: function (sender, modeltype, parameters) {
                    console.log(modeltype, parameters)
                    console.log(this)
                    console.log(this.model)
                    console.log(this.$refs)
                    console.log(this.$refs.svarSingleLog)
                    var executor = new SVARProcessing(this, parameters)
                    executor.execute()
                    executeCommand(
                        "python", 
                        ["-m", "this"],
                        {
                            stdout(data) {
                                console.log('stdout: <' + data + '> \n');
                            },
                            stderr(data) {
                                console.log('stdout: <' + data + '> \n');
                            },
                            finish(code) {
                                console.log('finishing: <' + code + '> \n');
                                sender.$emit('execution-finished', 'OK', { message: `Exit code: ${code}` })
                            },
                            runBrowser(data) {
                                console.log('browser: <' + data + '> \n');
                                sender.$emit('execution-finished', 'FAILED', { message: 'This function is disable on Browser-testing.' })
                                
                            },
                            runStandalone(data) {
                                console.log('app: <' + data + '> \n');
                            },
                            error(data) {
                                console.log('error: <' + data + '> \n');
                            },
                        }
                    )
                    /*

                    try{
                        const electron = require("electron").remote
                        try{
                            const process = electron.require('child_process');   // The power of Node.JS

                            var ls = process.spawn('python', ['-V']);
                            //

                            //var ls = process.spawn('ps', ['-A']);
                            //var ls = process.spawn('python -V');
                            ls.stdout.on('data', function (data) {
                                console.log('stdout: <' + data + '> \n');
                            });

                            ls.stderr.on('data', function (data) {
                                console.log('stderr: ' + data);
                            });

                            ls.on('close', function (code) {
                                // console.log('child process exited with code ' + code);
                                if (code == 0){
                                    console.log('child process complete.');
                                    sender.$emit('execution-finished', 'OK')
                                }else{
                                    console.log('child process exited with code ' + code);
                                    sender.$emit('execution-finished', 'FAILED', { message: `Exit code: ${code}` })
                                }
                            });


                        }catch(error){
                            console.log("ERROR", error)
                            sender.$emit('execution-finished', 'FAILED', { message: `Exit code: ${error}` })
                        }

                    }catch(e){
                        setTimeout(() => {
                        sender.$emit('execution-finished', 'FAILED', { message: 'This function is disable on Browser-testing.' })
                        }, 1000);
                    }
                    */
                },
                simulationUpdate() {
                    //
                },
                simulationFinish() {
                    //
                }
            },
            router: router,
            //i18n: 
        })

        document.addEventListener("keypress", function (e) {
            if(e.ctrlKey && e.keyCode == 8 || e.ctrlKey && e.key == 't'){
                require("electron").remote.getCurrentWindow().toggleDevTools();
            } else if (e.ctrlKey && e.key == "r") {
                location.reload();
            }
            console.log(e, "###")
        });
    </script>
</body>

</html>