/*
Modified from https://github.com/markdowncss/modest
*/
@media print {
  .markdown *,
  .markdown *:before,
  .markdown *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .markdown a,
  .markdown a:visited {
    text-decoration: underline;
  }

  .markdown a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown a[href^="#"]:after,
  .markdown a[href^="javascript:"]:after {
    content: "";
  }

  .markdown pre,
  .markdown blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .markdown thead {
    display: table-header-group;
  }

  .markdown tr,
  .markdown img {
    page-break-inside: avoid;
  }

  .markdown img {
    max-width: 100% !important;
  }

  .markdown p,
  .markdown h2,
  .markdown h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown h2,
  .markdown h3 {
    page-break-after: avoid;
  }
}

.markdown pre,
.markdown code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.markdown pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

.markdown a,
.markdown a:visited {
  color: #3498db;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  color: #2980b9;
}

.markdown .modest-no-decoration {
  text-decoration: none;
}

.markdown html, .markdown  {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown html, .markdown  {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .markdown html, .markdown  {
    font-size: 16px;
  }
}

.markdown body, .markdown  {
  line-height: 1.85;
}

.markdown p,
.markdown .modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.markdown h1,
.markdown .modest-h1,
.markdown h2,
.markdown .modest-h2,
.markdown h3,
.markdown .modest-h3,
.markdown h4,
.markdown .modest-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.markdown h1,
.markdown .modest-h1 {
  margin-top: 0;
  font-size: 3.998rem;
  font-size: 2.998rem;
}

.markdown h2,
.markdown .modest-h2 {
  font-size: 2.827rem;
  font-size: 2.427rem;
}

.markdown h3,
.markdown .modest-h3 {
  font-size: 1.999rem;
}

.markdown h4,
.markdown .modest-h4 {
  font-size: 1.414rem;
}

.markdown h5,
.markdown .modest-h5 {
  font-size: 1.121rem;
}

.markdown h6,
.markdown .modest-h6 {
  font-size: .88rem;
}

.markdown small,
.markdown .modest-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.markdown img,
.markdown canvas,
.markdown iframe,
.markdown video,
.markdown svg,
.markdown select,
.markdown textarea {
  max-width: 100%;
}
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
*/
.markdown html, .markdown  {
  font-size: 18px;
  max-width: 100%;
}

.markdown body, .markdown  {
  color: #444;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-weight: 300;
  margin: 0 auto;
  max-width: 48rem;
  max-width: 58rem;
  line-height: 1.45;
  padding: .25rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  /*font-family: Arimo, Helvetica, sans-serif;*/
}

.markdown h1,
.markdown h2,
.markdown h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

.markdown blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

.markdown pre,
.markdown code {
  background-color: #fafafa;
}